/* /* RESET */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}   
    
:root{ 
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
    --white: #ffffff;
    --space-default: 70px;

}


body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default); 
    padding-left: var(--space-default);
    padding-bottom: 24px;
}

header{background-color: aqua;
    height: 48px;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    
    
}
main{
    background-color: tomato;
    flex-grow: 1;
   
}

footer{background-color: purple;
    height: 0px;
}